body{
    background: #EEEEEE;
}

.well{
    background-color: white;
}

th{
    background-color: #EEEEEE;
}

tr{
    cursor: pointer;
}

form textarea#text {
    height: 400px;
    max-width: 600px;
}


