{% macro render_field(field) %}
    <div class="form-group">
        <label class="col-md-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
        <div class="col-md-10">
            {% if field.id == 'time_limit' or field.id == 'memory' %}
                <div class="input-group">
                    {{ field(class_="form-control") }}
                    {% if field.id == 'time_limit' %}
                        <span class="input-group-addon">seconds</span>
                    {% elif field.id == 'memory' %}
                        <span class="input-group-addon">MB</span>
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li><font color="red">{{ error }}</font></li>
                        {% endfor %}
                    {% endif %}
                </div>
            {% else %}
                {{ field(class_="form-control") }}
                    
            {% endif %}
        </div>
    </div>
{% endmacro %}
