<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css">
</head>
	
<body>
	<nav class="navbar navbar-default navbar-static-top">
    	<div class="container-fluid">
        	<div class="navbar-header">
          		<a class="navbar-brand" href="/home" style="font-weight: bold">
          		<span style="font-size: 1.2em">CPCC</span></img></a>
        	</div>
        	<div id="navbar" class="navbar-collapse collapse">
        		<ul class="nav navbar-nav">
            		<li id="profile"><a href="/profile">Profile</a></li>
            		<li id="contests"><a href="/compete">Compete</a></li>
            		<li id="about"><a href="/about">About</a></li>
          		</ul>
          		<ul class="nav navbar-nav navbar-right">
          			<li id="logout"><a href="/logout">Logout</a></li>
          		</ul>
        	</div>
      	</div>
    </nav>

 
	{% block content %}
	{% endblock %}

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>	

	<script type="text/javascript">
		$(function(){
			$(".alert").alert()
			var loc = window.location.pathname;
			var path = loc.substring(1);
			if(path.indexOf('/') >= 0) return;
			if(path == ""){
				$("ul.nav > li#home").addClass("active");
			}
			else{
				$("ul.nav > li#"+path).addClass("active");
			}
		});
	</script>

	{% block page_js %}
	{% endblock %}
</body>
</html>