<form class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading">Login</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="Username" class="form-control" placeholder="Username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="Password" class="form-control" placeholder="Password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>

<p>Do you have a profile? No? <a href='/register'>Register</a></p>
