{% extends 'base.html' %}

{% block content %}
<div class="container">
	{% include 'profile_elements.html' %}
	<div class="row">
		<div class="col-md-6">
			<div class="well">
				<legend>My Tasks</legend>
				{% for task in tasks %}
					<p><a href="task/{{task.task_id}}">{{task.name}}</a></p>
				{% endfor %}
				<a class="btn btn-warning" href="/task/new" role="button">
					Task <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<legend>My Contests</legend>
				{% for contest in contests %}
					<p><a href="contest/{{contest.contest_id}}">{{contest.name}}</a></p>
				{% endfor %}
				<a class="btn btn-warning" href="/contest/new" role="button">
					Contest <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block page_js %}

<script>
	$(function(){
		$('span#flag').tooltip({
			placement: "top"
		});
	});
</script>

{% endblock %}