{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="well">
		<legend>
			<h1>
				<span title="{{country}}" id="flag" class="img-rounded flag-icon flag-icon-{{country_code}}"></span> 
				 {{user.name}} {{user.surname}}
			</h1>
		</legend>
		<h4>Username: {{user.username}}</h4>
		<h4>Mail: {{user.e_mail}}</h4>
		<h4>Friends: 
			{% for friend in friends %}
				<a href="/profile/{{friend.username}}">{{friend.username}}</a>
			{% endfor %}
		</h4>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="well">
				<h4>My Tasks</h4>
				{% for task in tasks %}
					<p><a href="task/{{task.task_id}}">{{task.name}}</a></p>
				{% endfor %}
				<a class="btn btn-warning" href="/task/new" role="button">
					Task <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<h4>My Contests</h4>
				{% for contest in contests %}
					<p><a href="contest/{{contest.contest_id}}">{{contest.name}}</a></p>
				{% endfor %}
				<a class="btn btn-warning" href="/contest/new" role="button">
					Contest <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block page_js %}

<script>
	$(function(){
		$('span#flag').tooltip({
			placement: "top"
		});
	});
</script>

{% endblock %}