<form class="form-signin" method="post" action="/register">
    <h2 class="form-signin-heading">Register</h2>
    <p><label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="Username" class="form-control" placeholder="Username"></p>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="Password" class="form-control" placeholder="Password">
    <p><label for="inputName" class="sr-only">Name</label>
    <input type="text" name="Name" class="form-control" placeholder="Name"></p>
    <p><label for="inputSurname" class="sr-only">Surname</label>
    <input type="text" name="Surname" class="form-control" placeholder="Surname"></p>
    <p><label for="inputEMail" class="sr-only">e-mail</label>
    <input type="text" name="EMail" class="form-control" placeholder="EMail"></p>
    <p><label for="inputCountry" class="sr-only">Country</label>
    <input type="text" name="Country" class="form-control" placeholder="Country"></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>