{% from '_formhelpers.html' import render_field %}

<title>Register</title>
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<div class="row" style="margin-top: 40px">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <div class="well">
            <form class="form-horizontal" method="post">
                <legend>Register</legend>
                <fieldset>
                    {% for field in form %}
                        {{ render_field(field) }}
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-info">Submit</button>
                            <a class="btn btn-default" href="/login" type="button">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
