{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}


{% block content %}

<div class="row">
	<div class="col-md-1"></div>
    <div class="col-md-6">
        <div class="well">
			<form class="form-horizontal" method="post">
				<fieldset>
					{% if edit %}
						<legend>Edit task</legend>
					{% else %}
				    	<legend>Create new task</legend>
					{% endif %}
					
					{% for field in form %}
						{{ render_field(field) }}
					{% endfor %}
    				<div class="form-group">
      					<div class="col-md-10 col-md-offset-2">
      						<button type="submit" class="btn btn-info">Submit</button>
        					<a class="btn btn-default" href="/profile" type="button">Cancel</a>
      					</div>
    				</div>
			    </fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock %}